<!DOCTYPE html>
<html>
  <head>
    <title>Stripe on React on Rails - Doctor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'product-gallery-bundle' %>

  </head>

  <body>
      <%= react_component("Navbar") %>
      <%= react_component("SiteHeader") %>
    <div class='container'>
      <main role="main">
        <%= yield %>
      </main>
    </div>
    <br><br><br>
    <%= render "layouts/footer" %>
  </body>
</html>
